listen   80;

location /static1 StaticHandler {
    root ../static/static1;
}

location /static2 StaticHandler {
    root ../static/static2;
}

location /static1/static3 StaticHandler {
    root ../static/static3;
}

location /echo EchoHandler {
    
}

location / NotFoundHandler {
    
}

location /api CrudHandler {
    data_path ../crud_data;
}

location /sleep BlockHandler {
    
}

location /health HealthHandler {
    
}